{% load bootstrap5 %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% bootstrap_javascript %}

    <title>Hector Olan - Full Stack Developer</title>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#aboutme">Hector Olan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#aboutme">About Me</a>
            <a class="nav-link" href="#skills">Skills</a>
            <a class="nav-link" href="#experience">Experience</a>
            <a class="nav-link" href="#contactme">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  {% block content %}{% endblock content %}
  </body>
</html>
