{% load bootstrap5 %}
{% load bootstrap_icons %}
<div class="card text-white bg-dark border-start-0 border-top-0 border-light col-md-4 col-sm-12 mx-auto ">
    <div class="card-body">
        <hr/>
        <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto">
                <p>Hey! What brings you to my page? <br> Lets Connect!</p>
               <div class="d-flex justify-content-center">
                   <a href = "mailto: olanhector@gmail.com">{% bs_icon 'envelope' size='1.5em' color='white' %}</a>
               </div>
            </div>
        </div>
        </div>
    </div>
</div>