{% load bootstrap5 %}
<a href = "mailto: olanhector@gmail.com">Send Email</a>
<div class="card text-white bg-dark border-light col-md-4 col-sm-12 mx-auto ">
    <div class="card-body">
        <h5 class="card-title">Contact me</h5>
        <hr/>
        <div class="container">
        <div class="row">
            <div class="col-sm-12 mx-auto">
                <form action="{% url 'index' %}" method='post'>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Send Message
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container-fluid">
</div>