<div class="card text-white bg-dark border-start-0 border-top-0 border-light">
    <div class="container">
        <h5 class="card-title">Experience</h5>
        <hr/>
        <div class="mh-35 w-100 justify-content-center bg-dark mx-auto">
            <div class="nav nav-tabs nav-pills m-3 justify-content-center align-items-start w-200px border-0" id="pills-tab"
                 role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="pills-hpe-tab" data-bs-toggle="pill"
                   data-bs-target="#pills-hpe" type="button" role="tab" aria-controls="pills-hpe"
                   aria-selected="true">HPE
                </a>
                <a class="nav-link" id="pills-unisys-tab" data-bs-toggle="pill"
                   data-bs-target="#pills-unisys" type="button" role="tab"
                   aria-controls="pills-unisys"
                   aria-selected="false">Unisys
                </a>
                <a class="nav-link" id="pills-pioneer-tab" data-bs-toggle="pill"
                   data-bs-target="#pills-pioneer" type="button" role="tab"
                   aria-controls="pills-pioneer"
                   aria-selected="false">DuPont Pioneer
                </a>
            </div>
            <div class="tab-content p-5" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-hpe" role="tabpanel"
                     aria-labelledby="pills-hpe-tab">
                    Working in a small team-agile environment, maintaining, supporting, and enhancing an
                    internal
                    ASP.NET MVC application-web application tool to help operators on the assembly process of
                    the HPE
                    servers.
                    (angularjs, API, ASP.NET, C#, Razor, React, Redfish API, SQL Server, SQL, Entity Framework,
                    javascript, JIRA, Jenkins, WIX)
                    <ul>
                        <li>Support and address corrective action to problems in the
                            production
                            environment and collaborate with end-users to deliver application improvements.
                        </li>
                        <li>As a client user, maintain support for the HPE servers
                            Redfish API
                            updates.
                        </li>
                        <li>Build unit tests and maintain the continuous integration
                            environment
                            up and running using Jenkins.
                        </li>
                        <li>Standardized the application error reporting to the
                            company's
                            specifications.
                        </li>
                        <li>Worked with the WIX tool to manage the Microsoft
                            installer.
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-unisys" role="tabpanel" aria-labelledby="pills-unisys-tab">
                    Worked in a waterfall methodology project using .Net tools; migrated CCTM 4.1 to FTM 7.0
                    (Financial Transaction Manager 7.0-a financial framework for tellers) for a major banking
                    institution. (HTML, TFS, JIRA, Microsoft Windows Servers, SQL Server 2012, Stored Procedures,
                    Visual
                    Studio 2012)
                    <ul>
                        <li>
                            Implemented custom web pages on an ASP.NET application using the FTM 7.0 framework.
                        </li>
                        <li>
                            Involved in the release process; generating builds, SQL scripts, and database
                            backups. Once deployed, performed smoke tests to guarantee connectivity between the
                            distributed system.
                        </li>
                        <li>
                            Used InstallShield to work with the Teller Client Installer, installing peripheral
                            drivers such as scanners, pin-pad, and dispensers.
                        </li>
                        <li>
                            Worked in the Configuration File System, in charge of transferring files and data
                            between the distributed system using Windows Component Services and SQL Server
                            Integrations Services-SSIS.
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-pioneer" role="tabpanel"
                     aria-labelledby="pills-pioneer-tab">
                    Collaborated in the development of a tracking system. Developed a tracking user interface for
                    registering samples and a viewer with a dynamic map. (C#, SQL, Visual Studio 2012, Windows
                    Forms)
                </div>
            </div>
        </div>
    </div>
</div>


