body{
line-height:1.50;
}

.page-75{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 75vh;
    padding: 0px;
}

.h-300px{
    min-height: 300p
}

.mh-35{
    min-height:45vh;
    padding-top:5vh;
    padding-bottom:5vh;
}

.mh-30{
    min-height:40vh;
    padding-top:5vh;
    padding-bottom:5vh;
}

.mh-100{
    display: flex;
    min-height:100vh;
    padding-top:5vh;
    padding-bottom:5vh;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
}


.w-25px{
    width:25px;
}
.w-200px{
    min-width: 150px;
}